.App {
  text-align: center;
  padding: 0 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-family: 'East Sea Dokdo', sans-serif;
  font-size: 8rem;
  color: purple;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Sunflower', sans-serif;
}

.add-input-container {
  width: full;
  height: 20px;
  padding: 0 60px;
}

.add-input {
  margin-top: 20px;
  width: 80%;
  height: 100%;
}

.button {
  background-color: wheat;
  border-radius: 5px;
}

.todo-list-container {
  height: full;
  padding-top: 60px;
  float: auto;
  font-size: 3rem;
  
}
